.App {
	text-align: center;
}

* {
	box-sizing: border-box;
	transition: 0.35s ease;
	font-style: normal;
}
.rela-block {
	width: 100%;
	display: block;
	position: relative;
	margin: auto;
	top: ;
	left: ;
	right: ;
	bottom: ;
	font-style: normal;
}
.rela-inline {
	display: inline-block;
	position: relative;
	margin: auto;
	top: ;
	left: ;
	right: ;
	bottom: ;
	font-style: normal;
}
.floated {
	display: inline-block;
	position: relative;
	margin: false;
	top: ;
	left: ;
	right: ;
	bottom: ;
	float: left;
}
.abs-center {
	display: false;
	position: absolute;
	margin: false;
	top: 50%;
	left: 50%;
	right: false;
	bottom: false;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 88%;
	font-style: normal;
}
body {
	font-family: 'Roboto Slab';
	font-size: 18px;
	letter-spacing: 0px;
	font-weight: 400;
	line-height: 28px;
	background-size: cover;
	font-style: normal;
}

.caps {
	text-transform: uppercase;
}
.justified {
	text-align: justify;
}
p.light {
	color: #777;
	font-size: 14px;
	font-style: normal;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: 600;
	line-height: 40px;
	color: #000;
	font-style: normal;
}
h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 21px;
	letter-spacing: 1px;
	font-weight: 600;
	line-height: 28px;
	color: #000;
}
.page {
	width: 90%;
	max-width: 1200px;
	margin: 80px auto;
	background-color: #fff;
	box-shadow: 6px 10px 28px 0px rgba(0, 0, 0, 0.4);
}
.top-bar {
	height: 220px;
	background-color: #848484;
	color: #fff;
}
.name {
	display: false;
	position: absolute;
	margin: false;
	top: false;
	left: calc(350px + 5%);
	right: 0;
	bottom: 0;
	height: 120px;
	text-align: center;
	font-family: 'Roboto Slab';
	font-size: 58px;
	letter-spacing: 8px;
	font-weight: 100;
	line-height: 60px;
	font-style: normal;
}
.name div {
	width: 94%;
}
.side-bar {
	display: false;
	position: absolute;
	margin: false;
	top: 60px;
	left: 2%;
	right: false;
	bottom: 0;
	width: 380px;
	background-color: #f7e0c1;
	padding: 320px 30px 50px;
}
.mugshot {
	display: false;
	position: absolute;
	margin: false;
	top: 50px;
	left: 70px;
	right: false;
	bottom: false;
	height: 210px;
	width: 210px;
}
.mugshot .logo {
	margin: -23px;
}
.logo {
	display: false;
	position: absolute;
	margin: false;
	top: 0;
	left: 0;
	right: false;
	bottom: false;
	z-index: 100;
	margin: 0;
	color: #000;
	height: 250px;
	width: 250px;
}
.logo .logo-svg {
	height: 100%;
	width: 100%;
	stroke: #000;
	cursor: pointer;
}
.logo .logo-text {
	display: false;
	position: absolute;
	margin: false;
	top: 60%;
	left: ;
	right: 20%;
	bottom: ;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	letter-spacing: 0px;
	font-weight: 400;
	line-height: 58.333333333333336px;
	font-style: normal;
}
.social {
	padding-left: 10px;
	margin-bottom: 0px;
	cursor: pointer;
}

.side-header {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	letter-spacing: 4px;
	font-weight: 600;
	line-height: 28px;
	margin: 60px auto 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #888;
}
.list-thing {
	padding-left: 20px;
	margin-bottom: 5px;
}
.content-container {
	margin-right: 0;
	width: calc(95% - 350px);
	padding: 25px 40px 50px;
}
.content-container > * {
	margin: 0 auto 25px;
}
.content-container > h3 {
	margin: 0 auto 5px;
}
.content-container > p.long-margin {
	margin: 0 auto 50px;
}
.title {
	width: 80%;
	text-align: center;
}
.separator {
	width: 300px;
	height: 2px;
	background-color: #999;
}
.greyed {
	background-color: #ddd;
	width: 100%;
	max-width: 580px;
	text-align: center;
	font-family: 'Roboto Slab';
	font-size: 18px;
	letter-spacing: 6px;
	font-weight: 600;
	line-height: 28px;
}
@media screen and (max-width: 1150px) {
	.name {
		color: #fff;
		font-family: 'Roboto Slab';
		font-size: 38px;
		letter-spacing: 6px;
		font-weight: 100;
		line-height: 48px;
	}
}
